html,
body,
main {
  height: 100%;
}

html {
  font-size: 12px;

  @media (min-width: 960px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
}

main {
  position: relative;
  background: rgb(26, 30, 35);
}

.Picture,
.Bio {
  width: 50%;

  @media all and (orientation: portrait) {
    width: 100%;
  }
}

.Picture {
  background: transparent url('../img/me.jpg') no-repeat right 20%;
  background-size: cover;
  height: inherit;
  float: right;
}

.Bio {
  color: #CCC;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);

  @media all and (orientation: portrait) {
    padding-top: 20rem;
    top: initial;
    bottom: 0;
    transform: none;
    background: linear-gradient(transparent, rgba(0, 0, 0, .9));
    text-align: center;
  }
}

.Bio-name,
.Bio-headline {
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

.Bio-name {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.Bio-headline {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.Bio strong {
  color: #68c3a3;
}

.Bio-description {
  margin-bottom: 5rem;
  font-size: 1rem;
  line-height: 1.8rem;
}

.Btn {
  border: none;
  border-bottom: 3px solid;
  background-color: #68c3a3;
  border-color: rgba(51, 51, 51, 0.15);
  border-radius: 4px;
  font-size: 1rem;
  margin: 0 1rem 1rem 0;
  padding: 1rem 1.5rem;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  &:last-child {
    margin: 0;
  }
}

.Btn--resume,
.Btn--email {
  background-repeat: no-repeat;
  background-position: 1rem center;
  padding-left: 3.5rem;
}

.Btn--email {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABgElEQVRIS7WWYVHDQBCF31MAKKAooA5IHYADUEAcUBTQKgAUAAoKDqgDcAAKlnmZveNIcuHapvunM0nmvd1v392U2EOZWQXgHsCSY+qb2QTAHYBz152NZmBmcwDXAA6Tpk92NkhwqPs/RdW2iByHOIt3X61JTjc2MDMhEAohGao3ktVGBmam5WmJHRw9Trck50UGBTj6Jrki+TBo4DhuANQ5zgBOM+9mJF+zBmZ26TjS2AWtb9+BcOXqiORXx8DMpi6cTYdP9NTKfCeiehANCnDo+xcAmuwZwNlA902CosE/OILOkmRtZguP6VBEH0mqEdDFdWByJd61ElHwbdBoIppOoFxrJOVcvwf+pcQrku++m9UQ96TDC5LC+LuDtH2/X2S0UBJ8PxJXAEqqiWjWoK3gN6XOQ1Gld1zpSRbPtsE6c8g+ScarZFuDKOL3U9jfMYAY0V0QRcat3TWdk/wIz7eZoDkPRcvIpWhgyYrtRMnal0HM99gGQqIDF/4tlOrjBzlXmeC8+DInAAAAAElFTkSuQmCC);
}

.Btn--resume {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABK0lEQVRIS81WwVHDMBDcrSBQAUkFQAUJFaQE6ATohBaoAKiApIIkHaSDZdZjeRzHjk8aMuP7WJZ8t9Lunc5EyyTtAdy15wrGe5KL5McOgAoCnrmQbOKOAXwCWAGY1VH8vunZxAOAdbPrIMAPyZWkNwCvtfMLANPYtTmAj1yAiktJdnzOoS5K0SPJjaSbmhaLvwVw7AHzN/c5JzANBqiCSfoGsATwRNLjE5Nknb5yAHIYKc6iITr6wC1yUz8RDY4kb6PHkGSA3eQoih6gSINcilzJv7kU+Uroy/khka1DZRGRi+mJAnjni1RoY2iSiig6q9gLQL4qDDIdisZYubgeFfm9EyX1hDQ9uB4BsMhuLilNTxpKjdBuPtbAfcPPaaTp1TT4j9+WA8mmqv8AweufGX+UlqwAAAAASUVORK5CYII=);
}

.enlarge {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0;
  margin: 0;
}

.Resume {
  lost-center: 980px;
  margin: 80px auto;
  padding: 10px 80px;
  background: #f5f5f5;
  border: solid #666;
  border-width: 8px 0 2px 0;
  font-family: Georgia, serif;

  & h1, & h2, & h3 {
    margin: 0;
    font-weight: 500;
  }
}

.Resume-header {
  lost-utility: clearfix;
  overflow: hidden;
  margin: 2rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.Resume-title {
  lost-column: 2/3;

  & h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  & h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-style: italic;
  }
}

.Resume-info {
  lost-column: 1/3;
}

.Row {
  lost-utility: clearfix;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.Row-label {
  lost-column: 1/5;

  & h2 {
    font-style: italic;
  }
}

.Row-content {
  lost-column: 4/5;
}

.Row-list {
  lost-utility: clearfix;
  padding-left: 0;
  margin: 0;
}

.Row-list li {
  lost-waffle: 1/3 3 0;

  list-style: none;
  border-bottom: 1px solid #ccc;
  line-height: 2rem;

  &:nth-last-child(-n+3) {
    border-bottom: none;
  }
}

@media (max-width: 959px) {
  .is-extra {
    display: none;
  }
}
